html,body{
	height: 100%;
}
#plugin_articleContainer{
	height: 100%;
	padding-top: 1em;
	box-sizing: border-box;
	text-align: center;
}
#plugin_articleView{
	height: calc(100% - 3em);
	overflow: hidden;
	box-sizing: border-box;
}
#article{
	padding-bottom: 0;
	text-align: left;
}
#plugin_pageBtn{
	display: inline-block;
	width: 6em;
	height: 2em;
	line-height: 2em;
	margin-top: 0.5em;
}
#plugin_vocCard{
	position: fixed;
	min-width: 200px;
	max-width: 300px;
	background: #CCCCFF;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
}
#plugin_word,#plugin_pron,#plugin_sound{
	margin-right: 1em;
}
#plugin_cn_trans{
	font-size: 0.8em;
}
#plugin_horn{
	width: 1em;
	height: 1em;
}